
.nosotros {
  text-align: center;
}

.bloque-info {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
  background: rgb(255, 225, 233);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  line-height: 1.7;
}
 
.bloque-info p {
  margin-bottom: 15px;
  color: #444;
}

.frase {
  margin-top: 40px;
  font-size: 22px;
  color: #e91e63;
  font-style: italic;
}

.contacto-home {
  margin-top: 60px;
  padding: 40px;
  background: #ffe4ee;
  border-radius: 20px;
}

.btn-contacto {
  display: inline-block;
  margin-top: 15px;
  background: #e91e63;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-contacto:hover {
  background: #c2185b;
  transform: scale(1.05);
}