<nav class="navbar">
  <div class="logo">
    <img src="/images/logo.png" alt="🌸" />
    <p>˚˖𓍢ִ໋❀ Blossom Detallitos ❀𓍢ִ໋˖˚</p>
  </div>

  <ul class="menu">
    <li><a routerLink="/home">Inicio</a></li>
    <li><a routerLink="/catalogo">Catálogo</a></li>
    <li><a routerLink="/nosotros">Nosotros</a></li>
    <li><a (click)="irAContacto()">Contáctanos</a></li>
  </ul>

  <!-- SI NO HA INICIADO SESIÓN -->
  <ng-container *ngIf="!authService.isLoggedIn()">
    <a routerLink="/iniciar-sesion" class="login-link">Iniciar sesión</a>
  </ng-container>

  <!-- SI YA INICIÓ SESIÓN -->
  <ng-container *ngIf="authService.isLoggedIn()">
    <a (click)="carritoService.toggle()">
      <span class="carrito">🛒</span> ({{ carritoService.cantidadTotal() }})
    </a>
    <a (click)="logout()" class="login-link">Cerrar sesión</a>
  </ng-container>
</nav>
 