.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #f9bdcf;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.menu {
  display: flex;
  list-style: none;
  gap: 25px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.menu a:hover {
  color: #e91e63;
  cursor: pointer;
}

.carrito {
  font-size: 22px;
  cursor: pointer;
  color: #e91e63;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: #e91e63;
}

.logo img {
  height: 40px;
  width: auto;
}

.login-link {
  background: #d93d83;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.3s;
}

.login-link:hover {
  background: #b92f6b;
  cursor: pointer;
  transform: scale(1.05);
}

.carrito {
  font-size: 28px; /* lo hace más grande */
  cursor: pointer;
  display: inline-block;
  transition: transform 0.2s ease;
}

.carrito:hover {
  transform: scale(1.2);
}
