<div class="catalogo-principal">
    <div class="header">
        <h1>Catálogo de Productos</h1>
        <p>Explora nuestros productos disponibles</p>
    </div>

    <div class="catalogo">
        <app-producto-detalle 
            *ngFor="let producto of productos"
            [producto]="producto"
            (click)="seleccionarProducto(producto)">
        </app-producto-detalle>
    </div>
    
    <!-- MODAL -->
    <div class="modal" *ngIf="productoSeleccionado">
        <div class="modal-content">

            <span class="cerrar" (click)="cerrarDetalle()">×</span>

            <div class="modal-body">
            <img [src]="'images/catalogo/' + productoSeleccionado.imagen">

            <div class="info-modal">
                <h2>{{productoSeleccionado.nombre}}</h2>
                <p>{{productoSeleccionado.descripcion}}</p>
                <p class="precio">${{productoSeleccionado.precio}}</p>

                <div class="acciones">
                <button>-</button>
                <button>+</button>
                <button *ngIf="authService.isLoggedIn()">Agregar al carrito</button>

                <p *ngIf="!authService.isLoggedIn()" class="mensaje-login">Inicia sesión para comprar</p>
                <button class="eliminar">Eliminar</button>
                </div>
            </div>
            </div>

        </div>
        </div>
</div>