<footer class="footer">
  <div class="footer-container">
    <div>
      <h2>Blossom</h2>
      <p>Diseño floral & detalles</p>
    </div>

    <div>
      <h3>Enlaces</h3>
      <a routerLink="/">Inicio</a>
      <a routerLink="/catalogo">Catálogo</a>
      <a routerLink="/nosotros">Nosotros</a>
    </div>

    <div>
      <h3>Contacto</h3>
      <p>Ubicación: Fracc. Arboledas, Aguascalientes, México</p>
      <p>Teléfono: 449 329 7947</p>

      <div class="redes">
        <a href="https://www.instagram.com/blossomdetallitos?igsh=MTZxajA3eXF1YmFr" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>

        <a href="https://www.facebook.com/share/1E1vt7ZGFv/?mibextid=wwXIfr" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </div>
    </div>
  </div>

  <p class="copy">© 2026 Blossom Florería</p>
</footer>
