.footer {
  background: #d01e71;
  color: white;
  padding: 30px 15px 15px 15px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 5px 0;
}

.copy {
  text-align: center;
  margin-top: 20px;
}

.redes {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.redes a {
  font-size: 22px;
  color: white;
  transition: 0.3s;
}

.redes a:hover {
  transform: scale(1.2);
}
