body {
  padding-top: 70px;
}

.hero {
  height: 80vh;
  background-image: url('/images/fondo.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-text {
  background: rgba(93, 10, 49, 0.4);
  padding: 40px;
  border-radius: 10px;
}

.hero h1 {
  font-size: 40px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  background: #d93d83;
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.destacados {
  padding: 60px 40px;
  text-align: center;
}

.productos {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.card {
  width: 250px;
  background: rgb(254, 220, 237);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  margin: 10px;
}

.card p {
  color: #e91e63;
  font-weight: bold;
}

.contacto-home {
  background: #ffe4ec;
  padding: 60px;
  text-align: center;
}

.btn-contacto {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #d93d83;
  color: white;
  border-radius: 20px;
  text-decoration: none;
}
