<div class="login-container">
  <h2>Iniciar Sesión</h2>

  <form [formGroup]="form" (ngSubmit)="iniciarSesion()">

    <input type="text" formControlName="usuario" placeholder="Usuario" />
    <p *ngIf="form.get('usuario')?.invalid && form.get('usuario')?.touched">
      Usuario obligatorio
    </p>

    <input type="password" formControlName="contrasena" placeholder="Contraseña" />
    <p *ngIf="form.get('contrasena')?.invalid && form.get('contrasena')?.touched">
      Contraseña obligatoria (mínimo 3 caracteres)
    </p>

    <button type="submit" [disabled]="form.invalid">Entrar</button>

  </form>

  <p>¿No tienes cuenta? <a routerLink="/registrarse">Regístrate aquí</a></p>
</div>