.footer {
  background: #7a2394;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.footer-container div {
  text-align: center;
}

.copy {
  margin-top: 10px;
  font-size: 14px;
}
