<app-navbar></app-navbar>

<router-outlet></router-outlet>

<app-footer></app-footer>

<!-- OVERLAY -->
<div class="overlay" *ngIf="carritoService.abierto()" (click)="carritoService.cerrar()"></div>

<!-- DRAWER -->
<div class="drawer" [class.open]="carritoService.abierto()">

  <h2 class="titulo">🛒 Tu carrito</h2>

  <!-- VACÍO -->
  <div *ngIf="carritoService.carrito().length === 0" class="vacio">
    Tu carrito está vacío
  </div>

  <!-- ITEMS -->
  <div class="items">
    <div *ngFor="let item of carritoService.carrito()" class="item">

      <img [src]="'/images/catalogo/' + item.producto.imagen">

      <div class="info">
        <p class="nombre">{{item.producto.nombre}}</p>
        <p class="precio">{{item.producto.precio | currency:'MXN'}}</p>

        <div class="cantidad">
          <button (click)="carritoService.disminuir(item)">-</button>
          <span>{{item.cantidad}}</span>
          <button (click)="carritoService.aumentar(item)"
            [disabled]="item.cantidad >= item.producto.stock">
          +</button>
        </div>
      </div>

      <button class="eliminar" (click)="carritoService.eliminar(item)">✖</button>

    </div>
  </div>

  <!-- TOTAL -->
  <div class="footer-carrito">
    <p>Total:</p>
    <h3>{{carritoService.total() | currency:'MXN'}}</h3>

    <button class="checkout">Finalizar compra</button>
  </div>

</div>